.Carusel2 {
position: absolute;
top: 2540px;
left: 0px;
max-width: 100%;
padding: 0px 130px;
}
.carousel-caption {
    color: rgb(84, 69, 69);
}
.carousel-indicators [data-bs-target]{
    background-color: rgb(84, 69, 69);
}


.card_1,
.card_2,
.card_3,
.card_4  {
  max-width: 1900px;
    display: flex;
    justify-content: space-evenly;
}
.card_1 img,
.card_2 img,
.card_3 img,
.card_4 img {
    max-width: 100%;
    max-height: 100%;
   
}

.Text_slay2 {
    padding: 40px 70px;
    font-family: sans-serif;
    font-size: 20px;
}
.card-body {
    z-index: 10;
}