.head_buy3_0 {
    width: 100%;
    height: 100%;
}
.body_body3_0  {
display: flex;
width: 100%;
max-height: 100%;
}
.left_body3_0  {
    width: 195px;
    max-height: 100%;
    background-color: rgb(84, 69, 69);
    z-index: 2;
}
.centre_body3_0  {
    width: 100%;
    max-height: 100%;
}
.logo_buy3_0  {
    display: flex;
    width: 100%;
    max-height: 100%;
}
.logo3_0 {
   max-width: 100%;
   height: 600px;
   margin: 50px;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.centre_body3_0  ul {
margin: 50px;
list-style-type: none;
}
.cost3_0  {
    font-size: 40px;
    font-family: fantasy;
} 
.buy_rolex3_0  {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: color, transform  500ms ease;
}
.buy_rolex3_0:hover {
    color: rgb(25,135,84);
    transform: scale(1.3);
}
.carusel_video3_0  {
    display: flex;
}
.carusel_buy3_0  {
    width: 600px;
    max-height: 100%;
    margin: -30px 10px 10px 50px;
}
.video_buy3_0  {
    max-width: 100%;
    height: 100%;
    margin: -30px 50px 10px 0px;
}
.info_buy3_0  {
    width: 100%;
    max-height: 100%;
}
.right_body3_0  {
    width: 195px;
    max-height: 100%;
    background-color: rgb(84, 69, 69);
    z-index: 2;
}