.blok_cardPP {
    display: flex;
}
.Left_blokPP {
    width: 195px;
    max-height: 100%;
    background-color: rgb(84, 69, 69);
    z-index: 2;
}
.Centre_blokPP {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-height: 100%;
    z-index: 1;
}
.Right_blokPP {
    width: 195px;
    max-height: 100%;
    background-color: rgb(84, 69, 69);
    z-index: 2;
}
