.navbar {
    padding-bottom: 1px;
}
.Container_blok {
   margin-bottom: -8px;
}
.img_navbar {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin: 10px 20px 10px 45px;
}
.form-control {
    height: 40px;
    margin: 15px 5px;
}
.btn {
height: 40px;
margin: 15px 5px ;
}
.header{
    background-color: rgb(84, 69, 69);     
}
.btn-outline-success {
    color: rgb(238, 232, 232);
    border-color: rgb(34, 26, 26);
}
.reges {
    width: 37px;
    height: 40px;
    margin: 15px 10px;
    color:  rgb(38,31,31);
    transition: color, transform  500ms ease;
}
.reges:hover {
    color: rgb(25,135,84);
    transform: scale(1.3);
}
.shop_icon {
    width: 67px;
    height: 60px;
    margin: 5px;
    color:  rgb(38,31,31);
 cursor: pointer;
 transition: color, transform  500ms ease;
}
.basket_account {
position: relative;
top: 5px;
left: 0px;
max-width: 100%;
height: 20px;
border-radius: 40%;
background-color: rgb(25,135,84);
}
.basket_account p {
    margin: 2px 5px;
    color:white;
}
.shop_icon:hover {
    color: rgb(25,135,84);
    transform: scale(1.3);
}
.shop_blok {
    position: absolute;
    top: 78px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
-webkit-box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
-moz-box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
}
.shop_blok img {
    max-width: 100%;
    height: 200px;
    margin: 10px;
    box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
-webkit-box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
-moz-box-shadow: 9px 8px 11px 0px rgba(5,5,5,0.64);
}
.basket_description {
display: flex;
margin: 10px;
font-size: 35px;
font-family: fantasy;

}
.basket_button {
    position: relative;
    top: 40px;
    left: 10px;
}
.number {
    max-width: 10px;
    height: 10px;
    position: relative;
    top: -40px;
    left: 10px;

}
.button_plus {
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: color, transform  500ms ease;
    
}
.button_plus:hover {
    color: rgb(25,135,84);
    transform: scale(1.3);
}
.button_minus {
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: color, transform  500ms ease;
}
.button_minus:hover {
    color: rgb(25,135,84);
    transform: scale(1.3);
}
.button_buy {
    width: 75px;
    height: 50px;
    background-color: rgb(33,37,41);
    color: white;
    text-align: center;
   margin: 0px 10px;
   border-radius: 10px;
    cursor: pointer;
    transition: color, transform  500ms ease;
}
.button_buy:hover {
    color: rgb(25,135,84);
    transform: scale(1.1);
}